  <ul>
  <% @items.each do |item| %>
    <li><%= link_to item.title, item.url %> [<%= link_to 'Edit', edit_item_path(item) %>||<%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>]</li>
 <% end %>
 </ul>

<p>+ <%= link_to 'Add new Item', new_item_path %></p>